@charset "ISO-8859-1";
@charset "ISO-8859-1";
body {
  font-family: 'Lato';
  color: #000000;
}
#interets
{
    visibility:hidden;
    height:1px;
}
p.titre {
  background:#DED983;
  color:#345071;
  padding:.2em .3em;
  font-size:1.2em;
  border:2px outset #DED983;
  position:relative;
  margin-bottom:-1em;
  width:10em;
  margin-left:1em;
  margin-top:1em;
}
fieldset {
  border:none;
  margin-bottom:1em;
  width:50em;
  padding-top:1.5em;
}
select {
  margin-left:9em;
  margin-bottom:0;
}
fieldset#coordonnees {
  background:#A4D8EE;
  border:outset #A4D8EE;
}
#coordonnees label {
  position:absolute;
  font-size:90%;
  padding-top:.2em;
  left:20px;
}
#coordonnees input {
  margin-left:9em;
  line-height:1.4em;
  margin-bottom:.2em;
}
fieldset#message {
  background:#9DF2CE;
  border:outset #9DF2CE;
}
#civilite {
  font-size:90%;
}
#civilite input {
  margin-left:9em;
}
#civilite input + input {
  margin-left:1em;
}
#interets {
   font-size:90%;
}
#interets input {
   margin-left:9em;
}
#interets input +input {
   margin-left:1em;
}
#interets br+input {
  margin-left:9em;
}
textarea {
  font:.8em "Trebuchet MS", Verdana, sans-serif;
  width:29em;
  padding:.2em;
}
input[type="submit"], input[type="reset"] {
  background:#DED983;
  font:1.2em "Trebuchet MS", Verdana, sans-serif;
  color:#345071;
}
p#buttons {
  text-align:center;
}