<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" th:href="@{/css/fichier.css}"/>
 <script type="text/javascript" th:src="@{/js/fichier.js}"></script>
</head>
<body>
<div>
 <h2>Table de Reclamations</h2>
 <table>
 <thead>
 <tr>
 <th>civilite</th>
 <th>nom</th>
 <th>Prenom</th>
 <th>Email</th>
 </tr>
 </thead>
 <tbody>
 <tr th:each="Reclamations : ${Reclamations}">
 <td th:text="${Reclamations.civilite}">CIVILITE.</td>
 <td th:text="${Reclamations.nom}">NOM</td>
 <td th:text="${Reclamations.prenom}">PRENOM</td>
 <td th:text="${Reclamations.Email}">EMAIL</td>
 </tr>
 </tbody>
 </table>
 </div>
</body>
</html>